/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
          url('../fonts/pt-sans-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/pt-sans-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/pt-sans-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
          url('../fonts/pt-sans-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/pt-sans-v16-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}

/* abril-fatface-regular - latin */
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/abril-fatface-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
          url('../fonts/abril-fatface-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/abril-fatface-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/abril-fatface-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
          url('../fonts/abril-fatface-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/abril-fatface-v18-latin-regular.svg#AbrilFatface') format('svg'); /* Legacy iOS */
}
  